body {
    background-color: #111111;
    color: #d4af37;
    font-family: Georgia, serif;
    margin: 40px;
}

a {
    color: #d4af37;
    text-decoration: none;
}

a:hover {
    color: #f1d97a;
}

header,
footer {
    text-align: center;
}

h1,
h2,
p,
label {
    color: #d4af37;
}

img {
    max-width: 300px;
    border-radius: 10px;
    display: block;
    margin-top: 10px;
}

input,
textarea,
button {
    background-color: white;
    color: black;
    padding: 8px;
    margin-top: 5px;
}
.oeuvre-card {
    background-color: #1e1e1e;
    border: 1px solid #d4af37;
    padding: 20px;
    border-radius: 10px;
}
.oeuvres-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.oeuvre-card {
    background-color: #1e1e1e;
    border: 1px solid #d4af37;
    padding: 20px;
    border-radius: 10px;
}

.oeuvre-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}